<div class="col fill gap20">
	<header class="row spread middle">
		<div class="col">
			<h1>OpenFin Angular View 2</h1>
			<h1 class="tag">Angular app view in an OpenFin workspace</h1>
		</div>
		<div class="row middle gap10">
			<img src="../../assets/logo.svg" alt="OpenFin" height="40px" />
		</div>
	</header>
	<main class="col gap10 left">
		<fieldset>
			<label htmlFor="message">Context Received</label>
			<pre id="message">{{message}}</pre>
		</fieldset>
		<button (click)="message=''">Clear</button>
	</main>
</div>