<!doctype html>
<html dir="ltr" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
		/>
		<title>Stencil Component Starter</title>

		<script type="module" src="/build/wc-fin.esm.js"></script>
		<script nomodule src="/build/wc-fin.js"></script>
	</head>
	<body>
		<fin-context-group-picker unselected-color="black" unselected-line-color="white"></fin-context-group-picker>
	</body>
</html>
